.small-wrapper {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
}

.about-container {
  margin: 3em auto 0;
  position: relative;
  text-align: left;
  padding-bottom: 30px;

  p {
    color: $dark-purple;
    font-weight: 300;
  }
  width: 80%;
  max-width: 800px;
  min-width: 300px;
}


.about-header {
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 80px;
    background-color: $dark-purple;
    margin: 2em auto;
  }
  .author-image-container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 30px;
  }
}

.user-details {
  text-align: center;
  font-size: 16px;
  .profile-photo {
    height: 150px;
  }
}