.main-header {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 0;
  background-color: $white;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, .3);

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .center-header-container {
    width: 50%;
    text-align: center;
    margin: 0;
    .logo {
      color: $dark-purple;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      .author-name {
        text-transform: uppercase;
        font-size: 27px;
        font-weight: 300;
      }
    }
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: $white;
  padding: 25px 30px;
  transform: translate3d(-300px, 0, 0);
  ul {
    padding: 15px 0 0;
    margin: 0;
    list-style: none;

    li {
      border-bottom: 1px solid $lighten-gray;
      a {
        display: block;
        padding: 15px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        color: $dark-purple;
        &:hover {
          opacity: .8;
          color: $violet;
        }
      }
    }
  }
}

.left-header-container,
.right-header-container {
  width: 25%;
  a {
    text-decoration: none;
    color: $dark-purple;
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    box-shadow: 0 0 0 0 transparent;
    &:hover {
      box-shadow: 0 2px 0 0 $dark-purple;
    }
  }

}

.left-header-container {
  text-align: left;
}

.right-header-container {
  text-align: right;
}

.menu-icon,
.menu-icon-close,
.search-icon a,
.search-icon-close {
  cursor: pointer;
  font-size: 18px;
  color: $dark-purple;
  transition: all .4s;
  &:hover {
    opacity: .8;
  }
}
