body {
	width:95%;
	font-family: Georgia;
}

p, li, h4 {
	font-size: 20px;
}

#footer {
	width: 95%;
	text-align: center;
	font-size: 20px;
}

#header, #footer, h1, h4 {
	font-family: Verdana-Bold;
}

h1{
	font-size: 30px;
}