<header class="main-header">
    <div class="wrapper">
        <div class="header-flex">
            <div class="left-header-container">
                <a href="{{site.projects_url}}"> {{ site.projects_title }} </a>
            </div>
            <div class="center-header-container">
                <div class="logo">
                    <div class="author-name">{{ site.author }}</div>
                    <div class="author-title">{{ site.author_title }}</div>
                </div>
                {% include social-links.html %}
            </div>
            <div class="right-header-container">
                <a href="{{site.about_url}}"> {{ site.about_title }} </a>
            </div>
        </div>
    </div>
</header> <!-- End Header -->
