<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="keywords" content="{{ site.keywords }}{% if page.tags %},{{ page.tags | join ',' }}{% endif %}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  {% if page.image_bg %}
  <meta property="og:image" content="{{"/assets/img/" | prepend: site.baseurl | prepend: site.url | append: page.image_bg }}">
  {% elsif page.image %}
  <meta property="og:image" content="{{"/assets/img/" | prepend: site.baseurl | prepend: site.url | append: page.image }}">
  {% else %}
  <meta property="og:image" content="{{"/assets/img/" | prepend: site.baseurl | prepend: site.url | append: site.author_photo }}">
  {% endif %}
  <meta property="og:url" content="{{ site.url | append: site.baseurl | append: page.url }}"/>
  <meta name="twitter:card" content="summary_large_image"/>

  <link rel="icon" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
