<div class="container">
    <div class="row blog-tags">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-md-8 col-lg-6 text-center filter-buttons">
            <button class="btn btn-primary" data-filter="*">
                All
            </button>
            {% for tag in site.relevant_tags %}

            {% assign words = tag | split: '-' %}
            {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
            <button class="btn btn-secondary" data-filter=".{{tag}}">
                {{ titlecase }}
            </button>
            {% endfor %}
        </div>
    </div>
</div>