$black: #000;
$white: #fff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$light-purple: #5918b7;
$violet: #7200ff;
$gray: #efefef;
$purple-gray: #8d8699;
$lighten-gray: #eaeaea;
$dark-gray: #3e3e40;

$main: #005152;
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;
