html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    text-align: justify;
    /*background: #f5f5f5;*/
    background: white;
}

.img-profile {
    margin-top: 5em;
    margin-bottom: 4em;
    height: 200px;
}

::-moz-selection {
    background: #f2c2c9;
    color: #E8CAA4;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #E8CAA4;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.row {
    margin-right: 0;
    margin-left: -15px;
}

.modal-header h4 {
    color: white;
}

.navbar-toggle {
    border: 0 solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #16a085;
    color: white;
}

a img {
    background: white;
}

h1 {
    font-family: "Courier", serif;
    font-weight: 100;
    color: #333;
}

p {
    line-height: 28px;
}

a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #3cb6ff;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.header {
    background-color: #333;
    background-size: 16px 16px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.header h1 {
    color: #ffffff;
    padding-bottom: 30px;
    font-size: 60px;
    padding-top: 125px;
    margin-top: 0;
}

.white h1 {
    padding-top: 35px;
}

.white p {
    padding-top: 25px;
}

.textdivider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center center;
    text-align: center;
}

.textdivider h1 {
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

.textdivider p {
    color: white;
    font-size: 25px;
}

.divider1 {
    background: green;
    /*background-url('../img/bg/prague1.jpg')*/
}

.social-bar {
    font-size: 2em !important;
}

.social-small {
    font-size: 0.8em !important;
}

.content-box {
    background: white;
    box-shadow: 0 0 1px 0 #c4c4c4;
    padding: 5rem;
    margin-top: 4em;
}

.page-container {
    min-height: 100%;
}

.content-box p:last-child {
    margin-bottom: 0;
}

.content-box h3:first-child {
    margin-top: 0;
}

#fullpage section:nth-child(2) a {
    color: rgb(0, 177, 183);
}

#fullpage section:nth-child(3) a {
    color: rgb(0, 143, 204);
}

.green {
    color: #3D9E59;
}

a.green:hover {
    color: #53b85e;
}

#title-page-footer {
    position: fixed;
    bottom: 50px;
    width: 100%;
}

#title-page-body {
    margin-top: 125px;
}

/* phones */
@media screen and (max-width: 769px) and (max-device-width: 769px) {
    body {
        font-size: 1.5em;
    }

    .header h1 {
        font-size: 50px;
        padding-top: 55px;
    }

    #title-page-body {
        margin-top: 125px;
    }

    .header p {
        font-size: 30px;
        line-height: 38px;
    }

    .header {
        padding-top: 50px;
    }

    .content-box {
        padding: 3rem;
    }
}

/* thinner phones */
@media screen and (max-width: 509px) and (max-device-width: 509px) {
    .img-profile {
        margin-top: 5em;
        margin-bottom: 3em;
    }

    .header {
        min-height: 255px;
    }
}

/* desktop with small window height */
@media screen and (max-height: 680px) and (max-device-height: 680px) and (min-width: 770px) and (min-device-width: 770px) {
    .header h1 {
        padding-top: 85px;
    }

    #title-page-body {
        margin-top: 85px;
    }
}

/* small height */
@media screen and (max-height: 650px) {
    .img-profile {
        height: 150px;
    }
}

/* phone landscape */
@media screen and (max-height: 350px) {
    #title-page-footer {
        bottom: 25px;
    }
}

/* large height*/
@media screen and (min-height: 850px) {
    .img-profile {
        height: 275px;
    }
}

@media screen and (max-height: 550px) {
    .img-profile {
        display: none;
    }
}