html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    text-align: justify;
}

.img-profile {
    margin-top: 5em;
    margin-bottom: 4em;
    height: 200px;
}

.social-small {
    font-size: 14px !important;
}

::-moz-selection {
    background: #f2c2c9;
    color: #E8CAA4;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #E8CAA4;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.row {
    margin-right: 0;
    margin-left: -15px;
}

.modal-header h4 {
    color: white;
}

.navbar-toggle {
    border: 0 solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #16a085;
    color: white;
}

hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}

a img {
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Courier", serif;
    font-weight: 100;
    color: #333;
}

p {
    line-height: 28px;
}

.centered {
    text-align: center;
}

a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #3cb6ff;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.header {
    background-color: #333;
    background-size: 16px 16px;
    text-align: center;
}

.header h1 {
    color: #ffffff;
    margin-top: 150px;
    padding-bottom: 30px;
    font-size: 60px;
}

.white h1 {
    padding-top: 35px;
}

.white p {
    padding-top: 25px;
}

.textdivider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center center;
    text-align: center;
}

.textdivider h1 {
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

.textdivider p {
    color: white;
    font-size: 25px;
}

.divider1 {
    background-image: url('../img/bg/divider1.jpg')
}

@media screen and (max-width: 1050px), screen and (max-device-width: 1050px) {
}

/*ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media screen and (max-width: 769px) {
    .header h1 {
        font-size: 50px;
    }

    .header p {
        font-size: 30px;
        line-height: 38px;
    }

    .header {
        padding-top: 50px;
    }
}
