html {
	height: 100%;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: black;
	padding: 0px;
	width: auto;
	border: 20px solid rgb(21,98,0);
	border-radius: 25px 25px 25px 25px;
	height: 100%;
}

#topbar {
	border-bottom: 20px solid rgb(21,98,0);
	text-align: center;
	background: solid rgba(50,86,46,1);
	color: white;
}

#error {
	color: rgb(175,175,175);
}

#canvas {
	height:73%;
}