---
layout: default
---
<div class="flex-container">
    {% include header.html %}
    <article class="article-page">
        <div class="page-image">
            {% if page.image_bg %}
            <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append: page.image_bg}}) center no-repeat; background-size: cover;"></div>
            {% elsif page.image %}
            <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append: page.image}}) center no-repeat; background-size: cover;"></div>
            {% endif %}
</div>
<div class="wrapper">
    <div class="page-content">
        <div class="header-page">
            <h1 class="page-title">{{page.title}}</h1>
            <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%b %d, %Y'}}</time></div>
            <div class="page-links">
            {% if page.github %}
            <a class="btn btn-secondary" href="{{page.github}}">GitHub</a>
            {% endif %}
            {% if page.demo %}
            <a class="btn btn-secondary" href="{{page.demo}}">Demo</a>
            {% endif %}
            {% if page.website %}
            <a class="btn btn-secondary" href="{{page.website}}">Visit the site</a>
            {% endif %}
            {% if page.paper %}
            <a class="btn btn-secondary" href="{{page.paper}}">Whitepaper</a>
            {% endif %}
            </div>
        </div>
        {{page.content | markdownify}}
        <div class="page-footer">
            <div class="page-share">
                <span>Share:</span>
                <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url | append: site.baseurl }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://facebook.com/sharer.php?u={{ site.url | append: site.baseurl }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/share?url={{ site.url | append: site.baseurl }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
            </div><!-- End Share -->
        </div>
        {% include author-box.html %}
        {% include recent-posts.html %}
        {% include disqus.html %}
    </div>
</div> <!-- End Wrapper -->
</article>
{% include footer.html %}
</div>
